<div id="content" class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header text-bg-dark">
            <h5 class="modal-title">Card Options</h5>
        </div>
        <div class="modal-body text-bg-dark d-flex flex-column">
            <a 
                href="#" 
                class="btn btn-outline-danger">
                Delete Card
            </a>
            <button
                type="button"
                class="btn btn-outline-secondary mx-1"
                href="#"
                data-bs-dismiss="modal">
                    Cancel
            </button>
        </div>
        </div>
    </div>
</div>