<div id="content" class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header text-bg-dark">
            <h5 class="modal-title">Card Options</h5>
        </div>
        <div class="modal-body text-bg-dark d-flex flex-column">
            <a 
                href="#" 
                hx-get="/add-field-modal?&board_id={{ board_id }}&field_id={{ field_id }}"
                hx-target="#modal"
                hx-trigger="click"
                data-bs-target="#modal"
                class="btn btn-outline-secondary">
                Add Field
            </a>
            <form action="/delete-field?field_id={{ field_id }}&board_id={{ board_id }}" method="POST">
                <div class="modal-body text-bg-dark d-flex flex-column">
                    <button
                        type="submit"
                        href="#"
                        class="btn btn-outline-danger">
                        Delete Field
                    </button>
                </div>
            </form>
            <button
                type="button"
                class="btn btn-outline-secondary mx-1"
                href="#"
                data-bs-dismiss="modal">
                    Cancel
            </button>
        </div>
    </div>
</div>