{% extends 'base.html' %}

{% block content %}
  <div class="container-sm w-75 mt-4 d-flex flex-column justify-content-start" id="settings-container">

      <!-- Display Name Field -->
      <div class="container w-50 mb-3 d-flex justify-content-end">
        <form method="POST" action="/settings">
          <label for="display_name">Display Name</label>
            <input type="text" id="display_name" name="display_name" value="{{ user_settings.display_name }}"
                placeholder="{% if user_settings.display_name %}{{ user_settings.display_name }}{% else %}Enter new display name{% endif %}">
            <label for="newEmail">Email Address</label>
            <input type="email" id="newEmail" name="email" value="{{ user_settings.email }}"
                placeholder="{% if user_settings.email %} {{ user_settings.email }}{% else %}Enter new email{% endif %}">
             <label for="newPassword">Password</label>
          <input type="password" id="newPassword" value="{{ user_settings.password }}" name="password" placeholder="Enter new password">

          <button type="submit" class="btn btn-primary">Change</button>
          <!--<button type="submit" class="btn btn-danger">Delete Account</button>-->
        </form>
      </div>
  </div>
{% endblock %}
