@keyframes rotate-in {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}@keyframes rotate-out {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.rotation:hover {
    animation: rotate-in 0.25s;
    animation-fill-mode: forwards;
}
.rotation {
    animation: rotate-out 0.25s;
    animation-fill-mode: forwards;
}
.h-90{
    height: 90%;
}