{% extends 'base.html' %}

    {% block content %}
        <div class="container-fluid w-100 p-5">
                <h5 class="h-5">Search for users to invite</h5>
                <input  class="form-control-lg" type="search"
                        name="search" placeholder="Begin Typing to Search..."
                        hx-post="/search-users"
                        hx-trigger="input changed delay:300ms, search"
                        hx-target="#search-results"
                        hx-indicator=".htmx-indicator">
                </input>
                <div class="htmx-indicator text-dark">
                        <img    alt="Loading..."
                                src="{{url_for('static', filename='img/three-dots.svg')}}">
                        Searching...
                </div>
        </div> 
    <div id="search-results"  class="container-sm">
    </div>
    {% endblock %}