{% extends 'home.html' %}

    {% block facilitator %}
        <div class="content-fluid text-light h-100 w-100">
            <!-- Mockup of the carousel and boards, cards and fields -->
            <div id="carousel" class="carousel slide carousel-dark h-100" data-bs-interval="false">
                <div class="carousel-indicators">
                    <!-- Populated dynamically based on number of fields -->
                    {% for field in board.fields %}
                    <button 
                        type="button" 
                        data-bs-target="#carousel" 
                        data-bs-slide-to="{{ loop.index }}" 
                        {% if loop.index == 0 %}
                        class="active" 
                        {% endif %}
                        aria-current="true" 
                        aria-label="Slide {{ loop.index + 1 }}"></button>
                    {% endfor %}
                </div>
                <!-- load board -->
                <div class="carousel-inner h-100 overflow-scroll">
                    <!-- Load fields -->
                    {% for field in board.fields %}
                    <!-- Different beginnings depending on the first field -->
                    {% if loop.index <= 1 %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            <div class="content-fluid d-flex flex-column text-secondary">
                                <a  href="#"
                                    hx-get="/field-modal"
                                    hx-target="#modal"
                                    hx-trigger="click"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal" 
                                    class="btn btn-light d-flex justify-content-start">
                                    <h4 class="h4 px-5">{{ field.name }}</h4>
                                </a>
                                <!-- load cards -->
                                {% for card in field.cards %}
                                <a href="/edit-card" class="btn btn-light d-flex justify-content-start">
                                    <div class="card my-5 w-100">
                                        <div class="card-body py-5 d-flex justify-content-start">
                                                <p class="card-text">
                                                    {{ card.message_body }}
                                                </p>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <button class="carousel-control-prev w-10" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Prev</span>
                    </button>
                    <button class="carousel-control-next w-10" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    {% endblock %}