{% extends 'unauth-base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form action="/sign-in" method="post" class="needs-validation my-5" novalidate>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" name="email" required>
          <div class="invalid-feedback">
            Please enter your email.
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
          <div class="invalid-feedback">
            Please enter your password.
          </div>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="mb-3">
          <a href="/sign-up" class="btn btn-link">Create Account</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
