<div id="content" class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header text-bg-dark">
            <h5 class="modal-title">NO FUNCTION</h5>
        </div>
        <form>
            <div class="modal-body text-bg-dark d-flex flex-column">
                <button
                    type="submit"
                    data-bs-dismiss="modal"
                    href="#"
                    class="btn btn-outline-danger">
                    Delete Card
                </button>
                <button
                    type="button"
                    class="btn btn-outline-secondary mx-1"
                    href="#"
                    data-bs-dismiss="modal">
                        Cancel
                </button>
            </div>
        </form>
        </div>
    </div>
</div>