
<span class="d-flex flex-column align-items-center w-90 bg-light py-3">
    <div class="card h-100 w-90"
        id="card_{{ card.id }}">
        <div class="card-body py-1 rounded-3 shadow d-flex flex-column align-items-center w-100 h-100"> 
            <div class="w-100 h-25 d-flex justify-content-between">
                <img 
                    class="btn btn-outline-dark m-0 align-self-center"
                    height="50"
                    width="50"
                    src="{{ url_for('static', filename='img/check-circle-outline.svg') }}">
                </img>
                <img 
                    class="btn btn-outline-dark m-0 align-self-center"
                    height="50"
                    width="50"
                    hx-get="/rcard-options-modal"
                    hx-target="#modal"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                    src="{{ url_for('static', filename='img/dots-horizontal.svg') }}">
                </img>
            </div>
            <a  href="#"
            hx-get="/redit-card-modal?board_id={{ board.id }}&field_id={{ field.id }}&card_id={{ card.id }}"
            hx-target="#modal"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#modal"
            class="btn d-flex justify-content-start w-90 p-0 my-0 vh-10 overflow-hidden"\>  
                <p class="card-text py-2 text-start">
                    {{ card.message_body }}
                </p>
            </a>
            <div class="py-2 w-100 d-flex justify-content-between">
                <!-- TODO: replace -->
                <h5 class="bg-light m-0 p-0 align-self-center">IMG</h5>
                <h5 class="bg-light m-0 p-0 align-self-center">IMG</h5>
            </div>
        </div>
    </div>
</span>