<div id="content" class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header text-bg-dark">
            <h5 class="modal-title">Add Category</h5>
        </div>
        <div class="modal-body text-bg-dark">
            <form class="needs-validation my-5" >
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label for="fieldname" class="form-label">Enter New Category</label>
                        <input type="text" class="form-control my-3" id="fieldname" name="fieldname" min="1" required>
                        <div class="invalid-feedback">
                            Please enter the category name
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-space-between my-3">
                        <div class="col-auto">
                            <button
                                type="submit"
                                class="btn btn-secondary mx-1"
                                href="#"
                                hx-post="/radd-field?field_id={{ field_id }}&board_id={{ board_id }}"
                                data-bs-dismiss="modal"
                                hx-swap="outerHTML"
                                hx-target="#retrospective">
                                    Add</a>
                            <button
                                type="button"
                                class="btn btn-secondary mx-1"
                                href="#"
                                data-bs-dismiss="modal">
                                    Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>