<div id="content" class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header text-bg-dark">
            <h5 class="modal-title">Edit Card</h5>
        </div>
        <div class="modal-body text-bg-dark">
            <form class="needs-validation my-5">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label for="card-text" class="form-label">Enter Text</label>
                        <input type="text" class="form-control my-3" id="card-text" name="card-text" min="1" required>
                        <div class="invalid-feedback">
                            Please enter the card text
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-space-between my-3">
                        <div class="col-auto">
                            <button
                                type="submit"
                                class="btn btn-secondary mx-1"
                                href="#"
                                hx-trigger="click"
                                hx-post="/redit-card?field_id={{ field.id }}&board_id={{ board.id }}&card_id={{ card.id }}"
                                hx-swap="innerHTML"
                                hx-target="#board_{{ board.id }}-field_{{ field.id }}-card_{{ card.id }}"
                                data-bs-dismiss="modal">
                                    Change</a>
                            <button
                                type="button"
                                class="btn btn-secondary mx-1"
                                href="#"
                                data-bs-dismiss="modal">
                                    Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>